.div_main{

    display: flex;
    text-align: center;
}

.div_fractional_number{

    width: 40pt;
    height: inherit;
    text-align: center;
    vertical-align: baseline;

}

.div_result{
    display: flex;
    height: inherit;
    width: 80pt;
}

.in_num{

    height: 25pt;
    width: 40pt;
    text-align: center;
    -webkit-appearance: none;
}

.mathematical_sign{

    text-align: center;
    font-style: normal;
    margin-right: 10pt;
    margin-left: 10pt;
    color: black;

}

.mathematical_sign_result{

    text-align: center;
    font-style: normal;
    color: black;
    height: 50pt;

}
